/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url(https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap);
:root {
    --blue: #2db6fc;
    --indigo: #6574cd;
    --purple: #9554f1;
    --pink: #f385f0;
    --red: #f05a6e;
    --orange: #ffc107;
    --yellow: #ffd011;
    --green: #3fdc75;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #869ab8;
    --gray-dark: #384c74;
    --primary: #2db6fc;
    --secondary: #3f416d;
    --success: #3fdc75;
    --info: #7c69ef;
    --warning: #ffc107;
    --danger: #f05a6e;
    --light: #f9fafe;
    --dark: #3f416d;
    --primary-desat: #6c8aec;
    --black: #1f2d3d;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--gray)
}

a:hover {
    text-decoration: none;
}

.navbar {
    padding: 0.55rem 15px !important
}

.my-drop-down {
    width: 650px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 1.625rem 1.75rem;
    margin: 0;
    font-size: .9375rem;
    color: #222d39;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(31, 45, 61, .15);
    border-radius: .375rem;
    -webkit-box-shadow: 0 .5rem 1.5rem rgba(31, 45, 61, .1);
    box-shadow: 0 .5rem 1.5rem rgba(31, 45, 61, .1)
}

.dropdown:hover .my-drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.my-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 !important;
    margin: 15px 0
}

.my-nav-item i {
    font-size: 1.5rem;
    color: #52c5ff77;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.my-nav-item:hover i,
.my-nav-item:hover a {
    color: var(--primary) !important;
}

.my-nav-item a {
    width: 100%;
    padding-left: 15px;
    text-align: left;
}

.my-nav-item a span {
    display: block;
    width: 100%;
    font-size: 15px;
}

.my-nav-item a .navTitle {
    margin-bottom: -6px;
    font-weight: 500;
}

.hero-sec {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: #1C2936 0% 0% no-repeat padding-box;
    -webkit-clip-path: polygon(100% 0, 100% 86%, 80% 96%, 62% 99%, 46% 99%, 27% 96%, 0 88%, 0 0);
    clip-path: polygon(100% 0, 100% 86%, 80% 96%, 62% 99%, 46% 99%, 27% 96%, 0 88%, 0 0);
    color: #fff;
    padding-bottom: 80px;
}

.hero-head {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.hero-icons-box {
    margin-top: 5rem;
    text-align: center;
}

.hero-icons-box a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    z-index: 1111;
    cursor: pointer;
}

.hero-icons-box a:hover i {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hero-icons-box a:hover p {
    text-shadow: -.5px 2px 7px var(--primary);
}

.hero-icons-box p,
.hero-icons-box i {
    text-align: center;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}

.hero-icons-box i {
    color: var(--primary);
    font-size: 2.3rem;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

.hero-icons-box p {
    font-size: 1.3rem;
    margin-top: 15px;
    font-weight: 700;
}


/* Tabs */

.sec-tab {
    padding: 50px 15px !important;
    margin-top: 15px;
}

.tab-left-side-wrapper {
    color: #8096B3;
    padding-right: 25px;
}

.tab-left-top-sec {
    border-bottom: #8096B3 1px solid;
}

.tab-left-top-sec h3 {
    font-size: 1.5rem;
}

.tab-left-top-sec h3 i {
    padding-right: 8px;
}

.tab-left-top-sec p {
    padding-right: 8px;
    font-size: 1rem;
    word-wrap: break-word;
}

.tab-left-top-sec p strong {
    font-weight: 550;
}

.tab-left-bottom-sec {
    padding: 8px 12px;
    margin: 0px auto;
    border-bottom: #8096B3 1px solid;
    position: relative;
    width: 100%;
}

.tab-answer-sec {
    position: relative;
    padding: 0;
}

.tab-left-bottom-sec .tab-asign-arrow {
    width: 60px;
    position: absolute;
    color: #8096B3;
    font-size: 25px;
    top: 40%;
    right: -65px;
    display: none;
}

.tab-heading-no {
    cursor: pointer;
    padding: 4px 0;
}

.tab-heading-no h4 {
    font-size: 1rem;
}

.tab-heading-no i {
    font-size: 22px;
    padding-right: 7px;
}

.tab-answer-sec p {
    font-size: .9rem;
    word-wrap: break-word;
    display: none
}

.right-side-image-tab {
    padding-left: 7px;
}

.right-side-image-tab img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}

.anima {
    -webkit-animation: .9s linear blurFade;
    animation: .9s linear blurFade
}

@-webkit-keyframes blurFade {
    0% {
        -webkit-filter: opacity(0) blur(10px);
    }
    15% {
        -webkit-filter: opacity(.3) blur(10px);
    }
    30% {
        -webkit-filter: opacity(.5) blur(7px);
    }
    45% {
        -webkit-filter: opacity(.7) blur(5px);
    }
    60% {
        -webkit-filter: opacity(.8) blur(3px);
    }
    75% {
        -webkit-filter: opacity(.9) blur(2px);
    }
    100% {
        -webkit-filter: opacity(1) blur(0px);
    }
}


/* js class */

.tab-active .tab-answer-sec p,
.tab-active .tab-asign-arrow {
    display: block;
}

.tab-active {
    border: none;
    border: 1px solid #2DB6FC;
    border-radius: 8px;
    background-color: #2DB6FC1A;
    color: #8096B3;
}

.up {
    display: none !important;
}

.tab-active .dn {
    display: none;
}

.tab-active .up {
    display: block !important;
}

.rm-bord {
    border-bottom: none;
}

.hed {
    font-weight: 600;
    font-size: 1.5rem;
}

.reasons-column {
    margin-top: 20px;
    padding: 12px 5px !important;
}

.reasons-left-icon {
    width: 10%;
}

.reasons-left-icon i {
    font-size: 1.1rem;
    color: var(--primary-desat);
}

.reasons-right-content {
    width: 90%;
    padding-left: 10px;
    color: #8096B3;
}

.reasons-right-content h4 {
    font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .tab-active .tab-asign-arrow {
        display: none !important;
        visibility: hidden;
        width: 0;
    }
    .tab-left-side-wrapper {
        margin-top: 20px;
        padding-right: 0;
        padding: 0;
    }
    .right-side-image-tab {
        padding-left: 0;
    }
    .sec-tab {
        padding: 30px 0px !important;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .my-drop-down {
        width: 90vw;
    }
    .hero-sec {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        padding-bottom: 50px;
    }
    .hero-head {
        margin-top: 3rem;
        font-size: 1.2rem;
    }
    .hero-icons-box {
        margin-top: 3rem;
    }
    .hero-icons-box i {
        font-size: 1.4rem;
    }
    .hero-icons-box p {
        font-size: .9rem;
    }
    .tab-left-top-sec h3 {
        font-size: 1.2rem;
    }
    .tab-left-top-sec h3 i {
        font-size: 17px;
    }
    .tab-left-top-sec p {
        padding-right: 8px;
        font-size: .8rem;
    }
    .tab-heading-no {
        cursor: pointer;
        padding: 0;
    }
    .tab-heading-no h4 {
        font-size: .8rem;
    }
    .tab-heading-no i {
        font-size: 12px;
        padding-right: 0px;
    }
    .tab-answer-sec p {
        font-size: .7rem;
    }
    .hed {
        font-size: 1rem;
    }
    .reasons-left-icon i {
        font-size: .9rem;
    }
    .reasons-right-content {
        padding-left: 5px;
    }
    .reasons-right-content h4 {
        font-weight: 450;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 545px) {
    .hed {
        font-weight: 500;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 355px) {
    .hero-head {
        font-size: .9rem;
    }
    .hero-icons-box {
        margin-top: 1.5rem;
    }
    .hero-icons-box i {
        font-size: .8rem;
    }
    .hero-icons-box span {
        font-size: .8rem;
    }
}

.navbar-light .navbar-toggler {
    color: #506690;
    border-color: transparent
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #2db6fc
}

.navbar-light .navbar-nav .nav-link {
    color: var(--gray)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #2db6fc
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(31, 45, 61, .3)
}

.badge-secondary {
    color: #fff;
    background-color: #3f416d;
}

.navbar .nav-item .dropdown-menu .dropdown-item .dropdown-link {
    color: #506690
}

.navbar .nav-item .dropdown-menu .dropdown-item .dropdown-link:hover {
    color: #2db6fc
}

.navbar .nav-item .dropdown-menu>.active {
    background: #fff
}

.navbar .nav-item .dropdown-menu>.active .dropdown-link {
    color: #2db6fc
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: #fff
}

.footer_mascot {
    right: 60px;
    bottom: -50px;
    z-index: 10;
    position: absolute;
    height: 300px
}

.btn-outline-primary {
    color: #2db6fc;
    border-color: #2db6fc
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2db6fc;
    border-color: #2db6fc
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(45, 182, 252, .5);
    box-shadow: 0 0 0 .2rem rgba(45, 182, 252, .5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #2db6fc;
    background-color: transparent
}

.btn-primary {
    color: #fff;
    background-color: #2db6fc;
    border-color: #2db6fc;
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(31, 45, 61, .075);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(31, 45, 61, .075)
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #07a9fb;
    border-color: #03a2f3
}

.btn-primary.focus,
.btn-primary:focus {
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(31, 45, 61, .075), 0 0 0 .2rem rgba(77, 193, 252, .5);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(31, 45, 61, .075), 0 0 0 .2rem rgba(77, 193, 252, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #2db6fc;
    border-color: #2db6fc
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #03a2f3;
    border-color: #0399e6
}